@use "../../App/utilities/colors" as c;

.center {
  flex: 5;
  padding: 1%;
  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    #search-name {
      margin-left: 10px;
      border: none;
      border-bottom: solid 3px c.$dark;
    }
  }
}
#filterButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;

  button {
    width: 16%;
    margin: 2%;
    border-radius: 10px;
    background-color: c.$secondary;
    color: c.$veryLight;
  }
}

.container {
  text-align: center;
}

.friendsContainer {
  display: flex;
  flex-wrap: wrap;
}

.addGroupImg {
  color: c.$dark;
}

.addGroupImg:hover {
  color: c.$primary;
}
