@use "../../App/utilities/colors" as c;

.center {
  flex: 5;
  min-height: 575px;
  .feed {
    width: 500px;
  }
}

.container {
  text-align: center;
}

.friendsContainer {
  display: flex;
  flex-wrap: wrap;
}
