@use "../../App/utilities/colors" as c;

.center {
  flex: 5;
  padding: 1%;
}

.container {
  text-align: center;
}

.friendsContainer {
  display: flex;
  flex-wrap: wrap;
}

.addGroupImg {
  color: c.$dark;
}

.addGroupImg:hover {
  color: c.$primary;
}
