@use "../../App/utilities/colors" as c;

.post {
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  border-radius: 30px;
  padding-bottom: 10px;

  background-color: c.$secondary;
  .infoBox {
    display: flex;
    padding: 5px;
    align-items: center;
    background-color: c.$primary;
    color: c.$veryLight;
    border-radius: 25px;
    p {
      font-weight: bold;
      font-size: 18px;
      padding-top: 15px;
      padding-left: 10px;
    }
    .postAuthorImg {
      width: 50px;
      border-radius: 50%;
      border: 3px solid c.$dark;
    }
  }
  .postTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .postTopLeft {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin: 1%;
      .workoutTitle {
        font-size: 30px;
        font-weight: bold;
        color: c.$veryLight;
      }
      img {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        cursor: pointer;
      }
      img:hover {
        box-shadow: 0px 0px 5px 5px c.$primary;
      }
    }
    .postTopRight {
      margin: 50px;
      display: flex;
      border: solid c.$dark 3px;
      align-items: flex-end;
      justify-content: space-between;
      width: 100px;
      height: 80px;
      border-radius: 50%;
      background-color: c.$someLight;
      h4,
      .like-icon {
        margin: auto;
      }
    }
    .liked {
      color: c.$veryLight;
      background-color: c.$primary;
    }
    .postTopRight:hover {
      cursor: pointer;
      box-shadow: 0px 0px 5px 5px c.$primary;
    }
  }
  .postBottom {
    width: 100%;
    margin-top: 10px;
    height: 100%;
    .commentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .commentInput {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 18px;
      background-color: c.$primary;
      margin-bottom: 15px;
      #commentInput {
        width: 70%;
        border-radius: 5px;
      }
      img {
        border-radius: 50%;
      }
    }
    img {
      width: 5%;
      border-radius: 50%;
    }
    .postComment {
      display: flex;
      flex-direction: column;
      width: 95%;
      border-radius: 30px;
      padding: 10px;
      background-color: c.$someLight;
      margin-top: 10px;
      font-size: 18px;
      .commenterName {
        margin-left: 15px;
      }
      .flex-bar {
        display: flex;
        justify-content: space-between;
      }
      .delete-button {
        margin-right: 10px;
      }
      .delete-button:hover {
        color: c.$primary;
        cursor: pointer;
      }
      .userBar {
        display: flex;
        padding: 5px;
        img {
          width: 30px;
          height: 30px;
          border: solid c.$dark 2px;
        }
      }
    }
  }
}
