.post {
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  border: purple solid 2px;
  .postTop {
    display: flex;
    .postTopLeft {
      text-align: center;
      padding: 10%;
      margin: 5%;
      border: green 2px dotted;
    }
    .postTopRight {
      display: flex;
      align-items: center;
      text-align: center;
      padding: 5%;
      margin: 5%;
      border: blue 2px dotted;
      .like-button:hover {
        color: blue;
        cursor: pointer;
      }
    }
  }
  .postBottom {
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    border: purple dotted 2px;
    .commentInput {
      padding: 10px;
      border-bottom: solid black 2px;
    }
    img {
      width: 30px;
      border-radius: 50%;
    }
    .postComment {
      background-color: lightgray;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      .userBar {
        display: flex;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .liked {
    color: rgb(4, 0, 255);
  }
}
