@use "../../App/utilities/colors" as c;

.share {
  width: 100%;
  height: 170px;
  border-radius: 10px;
}

.shareWrapper {
  box-shadow: 13px 12px 14px 3px c.$someLight;
  -webkit-box-shadow: 13px 12px 14px 3px c.$someLight;
  -moz-box-shadow: 13px 12px 14px 3px c.$someLight;
}
.shareProfileImg {
  width: 50px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
}

.shareOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
}

.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
}
