@use "../../App/utilities/colors" as c;

.rightbar {
  flex: 3;
  padding: 1%;
  background-color: c.$someLight;
  .memberContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: c.$veryLight;
    border-radius: 15px;
    width: 90%;
    height: 12em;
    margin: 5%;
    h2 {
      padding: 5px;
    }
    #memberList {
      display: flex;
      height: 50px;
      justify-content: center;
      margin-bottom: 5%;
      .memberItem {
        img {
          border-radius: 50%;
          height: 100%;
          padding-right: 2px;
          padding-left: 2px;
        }
      }
    }
  }
  .openAddButton {
    background-color: c.$secondary;
    color: c.$someLight;
    max-width: 40%;
    border-radius: 25%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
  }
  .openAddButton:hover {
    color: c.$primary;
    cursor: pointer;
    border: 3px c.$primary solid;
  }
}

.container {
  text-align: center;
}

.friendRequestItem {
  display: flex;
  border: 2px c.$dark solid;
  padding: 5px;
  background-color: c.$veryLight;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  .friendButton {
    width: 15%;
  }
  .friendButton:hover {
    cursor: pointer;
    background-color: salmon;
    border-radius: 50%;
  }
  .green:hover {
    background-color: rgb(149, 255, 128);
  }
  img {
    border-radius: 50%;
    width: 60px;
  }
  .infobox {
    width: 60%;
    p {
      font-size: 14px;
    }
  }
}
.friendRequestItem:hover {
  box-shadow: 3px 3px c.$someLight;
  cursor: pointer;
}

.friendsContainer .small-size {
  display: flex;
  flex-wrap: wrap;
}

.requestForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  .button {
    width: 50%;
  }
}
