.rightbar {
  flex: 3;
  background-color: lightgreen;
}

.container {
  text-align: center;
}

.friendRequestItem {
  border: solid navy 1px;
  background-color: paleturquoise;
  img {
    width: 50px;
    border-radius: 50%;
  }
}

#memberList {
  display: flex;
  height: 30px;
  justify-content: center;
}

.memberItem {
  border-radius: 50%;
  height: 100%;
  padding-right: 2px;
  padding-left: 2px;
}
