@use "../App/utilities/colors" as c;

.dash-wrapper {
  height: 775px;
  display: flex;
  align-items: center;

  .leftPage {
    background-image: url(https://media4.giphy.com/media/5vUOiQJXnExEFz6yIj/giphy.gif?cid=ecf05e47cyxlzihskegxej4ayfw25h6wq4wkhuwwx4wwsq0p&rid=giphy.gif&ct=g);
    background-size: cover;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    h1 {
      border-radius: 10px;
      filter: opacity(80%);
      color: c.$veryLight;
      background-color: c.$primary;
    }
    #webappTitle {
      border-radius: 10px;
      filter: opacity(80%);
      font-size: 100px;
      color: c.$veryLight;
      background-color: c.$primary;
    }
  }
  .rightPage {
    padding-left: 10%;
    background-color: c.$secondary;
    color: c.$someLight;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding-bottom: 10%;
    div {
      margin-top: 5%;
    }
  }
}
