@use "../App/utilities/colors" as c;

.topbarContainer {
  height: 80px;
  width: 100%;
  background-color: c.$primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: c.$veryLight;
  font-family: "Montserrat Alternates", sans-serif;
}

.topbarLeft {
  background-color: c.$primary;
  padding-left: 15px;
}

.topbarRight {
  display: flex;
  align-items: center;
  padding-right: 25px;
  background-color: c.$primary;
}

.topbarImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.topbarImg:hover {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 0 2px c.$secondary;
}

.in-modal {
  margin-right: 15px;
  height: 55px;
  width: 55px;
  box-shadow: 0px 0px 0 2px c.$secondary;
}
.usernameModal {
  font-size: 24px;
}
.footerBox {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: 10px;
  border-top: 1px c.$secondary solid;
  Button {
    font-size: large;
  }
}
.modalAdjust {
  input {
    font-size: large;
    height: 40px;
  }
  Button {
    font-size: large;
  }
}

#urlField {
  margin-right: 10px;
}
