.friendCard {
  text-align: center;
  border: blue 2px dotted;
  width: 50%;
}

.friendCard:hover {
  font-weight: bold;
  cursor: pointer;
  background-color: lightgray;
}

.friendImage {
  width: 60px;
  padding: 5px;
  border-radius: 50%;
}

.friendsContainer {
  padding: 5px;
}

.cardEmail {
  padding: 5px;
}
