@use "../../App/utilities/colors" as c;

.friendCard {
  display: flex;
  height: 5em;
  border: 3px c.$dark solid;
  padding: 10px;
  background-color: c.$veryLight;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  .addButton {
    border-radius: 50%;
  }
  .addButton:hover {
    cursor: pointer;
    background-color: rgb(149, 255, 128);
  }
  .nameAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin: 0;
    }
  }
}
.groupTab {
  justify-content: space-evenly;
  width: 45%;
  height: 6em;
}
.friendTab {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}

.friendCard:hover {
  box-shadow: 3px 3px c.$secondary;
  cursor: pointer;
}

.friendImage {
  width: 4em;
  border-radius: 50%;
}

.friendsContainer {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
