.friendCard {
  text-align: center;
  border: blue 2px dotted;
}

.friendCard:hover {
  font-weight: bold;
  cursor: pointer;
  background-color: lightgray;
}

.friendImage {
  width: 80px;
  padding: 5px;
}

.friendsContainer {
  padding: 0;
}
