.groupCard {
  text-align: center;
  border: blue 2px dotted;
}
.groupCardSelected {
  text-align: center;
  border: red 3px solid;
}

.groupCard:hover {
  font-weight: bold;
  cursor: pointer;
  background-color: lightgray;
}

.groupImage {
  width: 100px;
}

.groupsContainer {
  padding: 0;
}

.thisClass {
  background-color: coral;
  color: white;
  font-size: 25px;
}
