@use "../../App/utilities/colors" as c;

.groupCard {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px c.$dark solid;
  border-radius: 5%;
  .groupText {
    width: 70%;
  }
  .groupImage {
    width: 30%;
    img {
      width: 50%;
    }
  }
}

.groupCard:hover {
  font-weight: bold;
  cursor: pointer;
  background-color: c.$someLight;
}

.groupsContainer {
  padding: 0;
}

.selected {
  background-color: c.$primary;
  color: c.$veryLight;
  font-weight: bold;
}
